version: "3.5"

services:
  golang:
    build:
      context: .
      dockerfile: dockerfile
    container_name: cdn-golang
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./:/go-minio-cdn
    depends_on:
      - minio
    networks:
      - go-minio-cdn

  minio:
    image: minio/minio
    container_name: cdn-minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio:/var/lib/minio
    environment:
      MINIO_ROOT_USER: "${MINIO_ROOT_USER}"
      MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
    command: server --console-address ":9001" /var/lib/minio
    networks:
      - go-minio-cdn

networks:
  go-minio-cdn:
    driver: bridge

volumes:
  minio: